<div class="font-bold text-2xl mt-2">
  <img class="w-36 h-48 mx-auto" src="assets/headlogo.png" alt="Logo">
  <h1 class="text-center text-3xl my-2">GitHub User Profile</h1>
  <form class="w-full max-w-sm mx-auto mt-5" (ngSubmit)="search()">
    <div class="flex items-center border-b border-custom-purple-400 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-fyle-subhead mr-3 py-1 px-2 leading-tight focus:outline-none" [(ngModel)]="githubUsername" name="githubUsername" type="text" placeholder="Enter GitHub username">
      <button class="flex-shrink-0 bg-white hover:bg-fyle-red border-fyle-red text-sm border-4 text-fyle-subhead hover:text-white py-1 px-2 rounded" type="submit">
        Search
      </button>
    </div>
  </form>
  <div *ngIf="loading" class="text-center mt-5">
    <svg class="animate-spin h-10 w-10 mx-auto text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#C6D4EB" stroke-width="4"></circle>
      <path class="opacity-75" fill="#FF3366" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A8.003"></path>
    </svg>
    <p class="mt-2">Loading...</p>
  </div>
  <div *ngIf="errorMessage" class="mt-5 text-fyle-red text-center">
    {{ errorMessage }}
  </div>
</div>
