@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Aktiv Grotesk', sans-serif;
    background-color: #F6EAF3;
}

.bg-fyle-gradient{
   border-radius: 20%;
   background: linear-gradient(to left, #F6EAF3,#C6D4EB,#F6EAF3);
}
// .bg-fyle-gradient-repo{
//     border-radius: 20%;
//     background: linear-gradient(to left, #F6EAF3,#C6D4EB,#F6EAF3);
//  }